
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello Admin.</h1>

        @{
            var arrAdmin = ViewBag.sysAdmins as List<JIF.CMS.Repositores.jif_sysadmin>;
        }
        <ul>
            @foreach (var item in arrAdmin)
            {
                <li><a href="@Url.Action("Detail", new { id = item.Id })">@item.nickname</a></li>
            }
        </ul>
    </div>
</body>
</html>
